h1 {
    text-align: center;
}

table {
    border-bottom: 1px solid #757474;
    border-left: 1px solid #757474;
    border-collapse: collapse;
    margin: auto;
    padding: 10px;
}

th,td {
    border: 1px solid #757474;
    padding: 5px;
}


th {
    border-top-style: none;
    border-right-style: none;
}

td {
    border-right-style: none;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.highlight {
    color: rgb(74, 146, 3);
}